.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__shapes {
    display: flex;
  }

  &__purple {
    background-color: #9C69E2;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: 15px;;
  }

  &__pink {
    background-color: #F063B8;
    width: 20px;
    height: 35px;
    border-radius: 20px;
    margin-left: 9px;
  }

  &__list {
    margin-left: 121px;
    padding-left: 0;
    display: flex;
  }

  &__item {
    list-style: none;
    padding-right: 40px;
    color: #4B5D68;
    font-weight: 500;
    font-size: 16px;

    &--active {
      font-weight: bold;
      color: #212353
    }
  }

  &__demo {
    margin-left: auto;
    margin-right: 50px;
  }

  &__button {
    padding: 15px 20px;
    border: none;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: -1px 4px 6px 0px rgba(0,0,0,0.09);
    -webkit-box-shadow: -1px 4px 6px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: -1px 4px 6px 0px rgba(0,0,0,0.09);
    font-weight: bold;
  }

  &__arrow {
    width: 18px;
    height: 2px;
    background-color: #9C69E2;
    position: relative;
    display: inline-block;
    align-items: center;
    bottom: 3px;
    border-radius: 2px;
    margin-left: 15px;
  }

  &__arrow::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 2px;
    background-color: #9C69E2;
    transform: rotate(45deg);
    position: absolute;
    right: -1px;
    bottom: 2px;
    border-radius: 2px;
  }

  &__arrow::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 2px;
    background-color: #9C69E2;
    transform: rotate(-45deg);
    position: absolute;
    right: -1px;
    bottom: -2px;
    border-radius: 2px;
  }

  &__toggle {
    // position: absolute;
    // top: .75rem;
    // right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

  &__bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .header {
    // flex-direction: column;
    align-items: flex-start;

    &__toggle {
      display: flex;
    }

    &__list {
      display: none;
    }

    &__responsive {
      width: 100%;
      margin-left: 0px;
      flex-direction: column;
      padding-left: 0px;
    }

    &__demo {
      display: none;
      // padding-left: 20px;
      // padding-right: 20px;
    }

    &__button {
      font-size: 12px;
      display: flex;
    }

    &__nav {
      width: 100%;
      margin-top: 1rem;
    }

    &__item {
      text-align: center;
      padding-right: 0px;
      padding: .5rem 1rem;
      border-bottom: 1px solid #9C69E2;

      &--active {
        font-weight: 500;
      }
    }

  }
}
