@import "./variables";
@import "./mixins";

.header {
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-weight: 500;
  font-size: 16px;

  &__shapes {
    display: flex;
  }

  &__purple {
    background-color: $purple;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: 15px;;
  }

  &__pink {
    background-color: $pink;
    width: 20px;
    height: 35px;
    border-radius: 20px;
    margin-left: 9px;
  }

  &__list {
    list-style: none;
    margin-left: 121px;
    padding-left: 0;
  }

  &__item {
    display: inline-block;
    padding-right: 40px;
    color: $mainFontColor;
    line-height: 25.6px;

    &--active {
      font-weight: bold;
      color: #212353
    }
  }

  &__demo {
    margin-left: auto;
    margin-right: 10%;
  }

  &__button {
    @include requestButton();
    background-color: #fff;
    font-weight: 800;
  }

  &__arrow {
    @include rightArrow();
  }

  &__arrow::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 2px;
    background-color: $purple;
    transform: rotate(45deg);
    position: absolute;
    right: -1px;
    bottom: 2px;
    border-radius: 2px;
  }

  &__arrow::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 2px;
    background-color: $purple;
    transform: rotate(-45deg);
    position: absolute;
    right: -1px;
    bottom: -2px;
    border-radius: 2px;
  }
}
