@import "./variables";

.hero {
  // justify-content: center;
  // align-items: center;

  & .heroImage {
    width: 60%;
    position: absolute;
    top: 23em;
    left: 35em;
  }

  &__image {
    // margin-left: auto;
    // margin-right: 50px;

  }

  &__bigText {
    font-size: 80px;
    font-family: 'Helvetica';
    color: $bigFontColor;
    position: absolute;
    top: 3em;
    line-height: 110%;
  }

  &__text {
    position: absolute;
    top: 30em;
    font-size: 18px;
    line-height: 28.8px;
    font-weight: 500;
  }

}
