@import "./variables";
@import "./mixins";

.hero2 {
  background-color: $lightPink;
  padding: 20px;
  width: 100%;
  @include centerAll();
  margin: auto;
  margin-top: 50px;
  border-radius: 50px;

  &__bigText {
    font-weight: 700;
    font-family: Helvetica;
    font-size: 40px;
    color: $bigFontColor;
    line-height: 130%;
  }

  &__text {
    line-height: 28.8px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 40px;
  }
}
