@import "./variables";
@import "./mixins";

.hero {
  // justify-content: center;
  // align-items: center;
  position: relative;

  & .heroImage {
    width: 80%;
    margin-top: 18%;
    margin-left: 31%;
  }

  &__image {
    // display: flex;
    // justify-content: flex-end;
    // margin-left: auto;
    // margin-right: 50px;

  }

  &__bigText {
    font-size: 85px;
    font-family: 'Helvetica';
    color: $bigFontColor;
    line-height: 110%;
    position: absolute;
    top: 8%;
  }

  &__text {
    position: absolute;
    top: 48%;
    font-size: 15px;
    line-height: 28.8px;
    font-weight: 500;
  }


  &__button {
    @include learnMoreButton($purple);
    position: absolute;
    white-space: nowrap;
    left: 0%;
    top: 75%;
  }
}
