@mixin requestButton() {
  padding: 15px 20px;
  border: none;
  border-radius: 40px;
  box-shadow: -1px 4px 6px 0px rgba(0,0,0,0.09);
  -webkit-box-shadow: -1px 4px 6px 0px rgba(0,0,0,0.09);
  -moz-box-shadow: -1px 4px 6px 0px rgba(0,0,0,0.09);
}

@mixin rightArrow() {
  width: 18px;
  height: 2px;
  background-color: $purple;
  position: relative;
  display: inline-block;
  align-items: center;
  bottom: 3px;
  border-radius: 2px;
  margin-left: 15px;
}
