@import "./header";
@import "./heroImage";
@import "./mixins";
@import "./heroImage2";
@import "./features";

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: auto;
  background-color: #F6FAFD;
  width: 100vw;
  max-width: 1500px;
}

.container {
  padding: 30px 10%;
  position: relative;
}

.row {
  display: flex;
}

.col-half {
  width: 50%;
}
