@import "./header";
@import "./heroImage";

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: auto;
  background-color: #F6FAFD;
  width: 100vw;
}

.container {
  padding: 30px 10%;
  position: relative;
}

.row {
  display: flex;
}
